<header>
  <div class="logo-contenedor">
    <img src="/images/logo.png" alt="Logo de Egis Low Cost" class="logo-img">
    <h1 class="logo-texto">Egis Low Cost</h1>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="/index.html">Inicio</a></li>
      <li class="submenu-parent">
        <a href="/menu/senuelos.html">Señuelos</a>
        <ul class="submenu">
          <li><a href="/menu/senuelos/yamashita.html">YAMASHITA</a></li>
          <li><a href="/menu/senuelos/dtd.html">DTD</a></li>
          <li><a href="/menu/senuelos/yozuri.html">YO-ZURI</a></li>
          <li><a href="/menu/senuelos/letoyo.html">LETOYO</a></li>
          <li><a href="/menu/senuelos/kingdom.html">KINGDOM</a></li>
          <li><a href="/menu/senuelos/squidking.html">SQUID KING (FSDZSO)</a></li>
          <li><a href="/menu/senuelos/otros.html">OTROS</a></li>
        </ul>
      </li>
      <li><a href="/menu/componentes.html">Componentes</a></li>
      <li><a href="/menu/color-egis.html">Color Egis</a></li>
      <li><a href="/menu/acerca.html">Acerca de</a></li>
    </ul>
  </nav>
</header>